---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro'; 
import ProjectCard from '../components/ProjectCard.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
console.log(projects);  // Verifica en la consola del navegador

---

<Layout>
  <h2 class="titulo-proyectos">Proyectos</h2>
  <div class="project-list">
    {projects.map((project) => (
      <ProjectCard
        title={project.data.title}
        description={project.data.description}
        tags={project.data.tags}
        image={project.data.image}
        url={project.data.url}
        techStack={project.data.techStack}
        slug={project.data.slug || ''} 
      />
    ))}
  </div>
</Layout>

<style>
  .titulo-proyectos {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 800;
    background: linear-gradient(270deg, #00c9ff, #92fe9d, #00c9ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverFondo 5s ease infinite;
  }

  @keyframes moverFondo {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
</style>
